h1 {
    color: #333;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.navigation-menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu-block {
    margin: 0 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.menu-block a {
    text-decoration: none;
    color: #fff;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px);
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.contact-item {
    border: 1px solid #ccc;
    padding: 10px;
}
.cont{
    display: grid;
    text-allign: center;
    gap:50px;
    grid-template-rows: repeat(1, 150px);
    grid-template-collums: repeat(auto-fit, minmax(100px, 1fr));
}
.k1{
    border-color: black;
    border: 2px;
}
.k2{
    border-color: black;
    border: 2px;
}
.k3{
    border-color: black;
    border: 2px;
}
.k4{
    border-color: black;
    border: 2px;
}
.k5{
    border-color: black;
    border: 2px;
}
.k6{
    border-color: black;
    border: 2px;
}
.k7{
    border-color: black;
    border: 2px;
}
.k8{
    border-color: black;
    border: 2px;
}
.k9{
    border-color: black;
    border: 2px;
}